<div class="center jumbotron">
  <div class="welcome">
    <h1> Welcome to my Recipes App</h1>
    </div>
        <h2>
        Create your own unique recipes and share with the world
      </h2>

  <%=link_to "Sign up now!", " ", class: "btn btn-lg btn-success"%>
  
</div>

<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as a guest and Sign up later</h2>
    <p><%=link_to"Browse Recipe Listings", "",class: "btn btn-default" %></p>
  </div>
  
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as a guest and Sign up later</h2>
    <p><%=link_to"Browse Recipe Listings", "",class: "btn btn-default" %></p>
  </div>
  
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as a guest and Sign up later</h2>
    <p><%=link_to"Browse Recipe Listings", "",class: "btn btn-default" %></p>
  </div>
</div>